body {
    background-color: black;
}

h1 {
    background-color: rgb(183, 246, 183);
    color: white;
    font-size: 60px;
    text-align: center;
    width: 400px;
    margin: auto;
}

li {
    background-color: rgb(180, 180, 234);
    color: white;
    font-size: 30px;
    margin: 10px auto;
    width: 300px;
    text-align: center;
}